#mainName{text-align: center;color: #000;}
#image01{width: 400px;display: block;margin-left: auto;margin-right: auto;}
#pgh1{text-align: center;color: #000000;}
body{background-color:whitesmoke;}
#pgh2{text-align:center;}
#pgh2 a{text-align: center;color: whitesmoke;}