#headerpageDiv{text-align: center;}
#headerpageImage{text-align: center;}
#headerpage{
    .small{font-size: 24px;color: #000;}
    .medium{font-size: 48px;color: #000;}
}
#headerpage a{color: #000;}
#pgh01{
    text-align: center;
    .small{font-size: 24px;color: #000;}
    .medium{font-size: 48px;color: #000;}
}
#pgh02{
    text-align: center;
    .small{font-size: 24px;color: #000;}
    .medium{font-size: 48px;color: #000;}
}
#headerh2{
    text-align: center;
    .medium{font-size: 48px;color: #000;}
    .small{font-size: 24px;color: #000;}
}
#ul01{
    text-align: center;
    .medium{font-size: 48px;color: #000;}
    .small{font-size: 24px;color: #000;}
}
#ul01 a{color: black;}
ul{list-style-type: none;padding-left: 0;}
#ul01 li{margin-bottom: 30px;}